@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* :root variables */
:root {
	--white-05: rgba(30, 30, 32, 1);
	--white-20: rgba(79, 79, 81, 1);
	--bg-color: rgba(18, 18, 20, 1);
	--text-white: rgba(254, 254, 255, 1);
	--text-white-50: rgba(145, 145, 146, 1);

	--text-white-70: rgba(189, 189, 190, 1);
	--primary: rgba(182, 136, 103, 1);
	--primary-20: rgba(182, 136, 103, 0.2);
	--green-active: rgba(39, 193, 55, 1);
}

/* Header */

header {
	position: relative;
	width: 100%;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 16px;
	background-color: var(--white-05);
}

.logo {
	width: 150px;
	height: 18px;
}

/* Menu */

.menu-icon {
	position: absolute;
	top: 4px;
	right: 16px;
	width: 44px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	cursor: pointer;
	padding: 10px;
}

.menu-icon span {
	width: 24px;
	height: 2px;
	background: var(--text-white-70);
	border-radius: 3px;
	transition: 0.3s;
}

#menu-toggle:checked ~ .top-menu {
	display: block;
}

#menu-toggle:checked + .menu-icon span:nth-child(1) {
	transform: rotate(45deg) translateY(8px);
}
#menu-toggle:checked + .menu-icon span:nth-child(2) {
	opacity: 0;
}
#menu-toggle:checked + .menu-icon span:nth-child(3) {
	transform: rotate(-45deg) translateY(-8px);
}

.top-menu {
	position: absolute;
	top: 53px;
	right: 0;
	display: none;
	padding: 10px;
	transition: right 0.3s ease;
	box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
	background-color: var(--white-05);
	z-index: 50;
}

.menu li {
	margin: 15px;
}

.lang-wrapper {
	display: none;
}

.phone-wrapper {
	display: none;
}

.user-wrapper {
	display: none;
}

/* Content */
.car-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 40px 16px 80px 16px;
	color: var(--text-white);
}

.big-car {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.img {
	position: relative;
	width: 100%;
	height: 188px;
	z-index: 1;
}

.img::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '';
	width: 100%;
	height: 242px;
	display: block;
	border-radius: 50%;
	background-image: radial-gradient(
		50% 50% at 50% 50%,
		rgba(255, 255, 255, 0.35) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	z-index: -1;
}

.car-title {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;
}

.subtitle {
	font-size: 20px;
	font-weight: 500;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 8px;
}

.list-title {
	font-size: 18px;
	font-weight: 500;
}

.include-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 14px;
}

.include-list li {
	position: relative;
	padding-left: 24px;
}

.include-list li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 16px;
	height: 16px;
	transform: translateY(-50%);
	background-image: url('/assets/icons/check-circle-broken.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.short-info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-items: start;
	flex-wrap: wrap;
	gap: 8px;
	margin-right: 59px;
}

.short-info-item {
	width: 142px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	font-size: 14px;
}

.btn {
	width: 100%;
	height: 56px;
	padding: 18px 24px;
	border-radius: 8px;
	background-color: var(--primary);
}

.btn-small,
.btn-small-second {
	width: 140px;
	height: 44px;
	border-radius: 8px;
	background-color: var(--primary);
}

.btn-small-second {
	color: var(--text-white);
	background-color: var(--primary-20);
}

.hidden {
	display: none;
}

/* Booking & Steps */

.stepper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	gap: 8px;
}

.step-circle {
	width: 30px;
	height: 30px;
	background: lightgray;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s, color 0.3s;
}

.step-circle.active {
	background: #000;
	color: #fff;
}

.step-line {
	width: 40px;
	height: 2px;
	background: lightgray;
}

.form-step {
	display: none;
}

.step-active {
	display: block;
}

/* Contact us */

.contact-us {
	position: relative;
	width: 100%;
	height: 466px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 80px 16px;

	z-index: 1;
}

.contact-us::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url('/assets/images/contact-us-bg.jpg');
	background-size: 1400px auto;
	background-position: left 32% bottom 20%;
	background-repeat: no-repeat;
	filter: brightness(0.6);
	z-index: -1;
}

.contact-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px 32px 40px 32px;
}

.contact-img {
	height: 56px;
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.img-item {
	position: relative;
	width: 56px;
	margin-left: -10px;
}

.img-item::after {
	position: absolute;
	top: 43px;
	left: 43px;
	content: '';
	width: 10px;
	height: 10px;
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: var(--green-active);
}

.img-item:nth-child(1) {
	z-index: 3;
}

.img-item:nth-child(2) {
	z-index: 2;
}

.img-item:nth-child(3) {
	z-index: 1;
}

.contact-us-descr {
	width: 297px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	color: var(--text-white);
}

.descr-wrapper {
	position: relative;
}

.descr-wrapper .subtitle {
	font-weight: 700;
	margin-bottom: 8px;
}

.descr-wrapper::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '';
	width: 361px;
	height: 142px;
	border-radius: 50%;
}

/* Footer */

footer {
	padding: 40px 16px;
}

.footer-top {
	width: 200px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

footer p {
	font-size: 14px;
	color: var(--text-white-50);
}

.footer-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 32px 0 56px 0;
}

label {
	font-size: 14px;
	color: var(--text-white);
	margin-bottom: 6px;
}

.footer-input {
	width: 100%;
	display: flex;
	gap: 16px;
}

input {
	width: 100%;
	padding: 12px 14px;
	border: 1px solid var(--white-20);
	background: inherit;
	border-radius: 8px;
}

.footer-bottom {
	width: 100%;
	height: 96px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 32px;
	border-top: 1px solid var(--white-20);
}

.footer-link ul {
	width: 176px;
	display: flex;
	gap: 16px;
	font-size: 14px;
}

.footer-link a {
	color: var(--text-white-50);
}

/* @media queries */

@media (min-width: 768px) {
	header {
		height: 76px;
		padding: 16px;
	}

	.form-step {
		display: block !important;
	}
	.btn-continue {
		display: none;
	}
}

@media (min-width: 1300px/* change to 1920px */) {
	header {
		height: 72px;
		padding: 16px 40px;
	}
	.menu-icon {
		display: none;
	}

	.top-menu {
		position: static;
		display: block;
	}

	.menu {
		display: flex;
		gap: 24px;
	}

	.menu li {
		margin: 0;
	}

	.user-wrapper {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		color: var(--text-white-70);
	}

	.lang-wrapper {
		width: 86px;
		display: block;
		padding: 10.5px 16px;
	}

	.phone-wrapper {
		width: 176px;
		display: flex;
		gap: 2px;
		padding: 8px 16px;
	}

	.login-wrapper {
		width: 112px;
		display: flex;
		gap: 4px;
	}
}
