@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* :root variables */
:root {
	--white-5: rgba(255, 255, 255, 0.05);
	--white-05: rgba(30, 30, 32, 1);
	--white-10: rgba(57, 57, 59, 1);
	--white-20: rgba(79, 79, 81, 1);
	--white-90: rgba(233, 233, 233, 1);

	--bg-color: rgba(18, 18, 20, 1);
	--text-white: rgba(254, 254, 255, 1);
	--text-white-50: rgba(145, 145, 146, 1);
	--text-white-70: rgba(189, 189, 190, 1);
	--primary: rgba(182, 136, 103, 1);
	--primary-light: rgba(197, 160, 133, 1);
	--primary-20: rgba(182, 136, 103, 0.2);
	--green-active: rgba(39, 193, 55, 1);
}

a {
	color: var(--text-white);
	text-decoration: none;
}

p {
	font-size: 14px;
	color: var(--text-white-50);
}

li {
	font-size: 14px;
}

h2 {
	font-size: 24px;
	font-weight: 500;
}

/* Header */

header {
	position: relative;
	width: 100%;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 16px;
	background-color: var(--white-05);
}

.logo {
	width: 150px;
	height: 18px;
	margin-right: 84px;
}

.header-wrapper {
	display: block;
}

/* Menu */

.menu-icon {
	position: static;
	top: 4px;
	right: 16px;
	width: 44px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6px;
	cursor: pointer;
	padding: 16px 0;

	margin-bottom: 0;
}

.menu-icon span {
	width: 24px;
	height: 2px;
	background: var(--text-white-70);
	border-radius: 3px;
	transition: 0.3s;
}

#menu-toggle:checked ~ .top-menu {
	display: block;
}

#menu-toggle:checked + .menu-icon span:nth-child(1) {
	transform: rotate(45deg) translateY(8px);
}
#menu-toggle:checked + .menu-icon span:nth-child(2) {
	opacity: 0;
}
#menu-toggle:checked + .menu-icon span:nth-child(3) {
	transform: rotate(-45deg) translateY(-8px);
}

.top-menu {
	position: absolute;
	top: 53px;
	right: 0;
	display: none;
	padding: 10px;
	transition: right 0.3s ease;
	box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
	background-color: var(--white-05);
	z-index: 50;
}

.menu li {
	margin: 15px;
}

.lang-wrapper {
	display: none;
}

.phone-wrapper {
	display: none;
}

.login-wrapper {
	display: none;
}

/* Content */
.car-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 40px 16px 80px 16px;
	color: var(--text-white);
}

.big-car {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.car-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.img {
	position: relative;
	width: 100%;
	height: 188px;
	z-index: 1;
}

.img::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '';
	width: 100%;
	height: 242px;
	display: block;
	border-radius: 50%;
	background-image: radial-gradient(
		50% 50% at 50% 50%,
		rgba(255, 255, 255, 0.35) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	z-index: -1;
}

/* All title */

.car-title {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;
}

.small-title {
	font-size: 18px;
	font-weight: 500;
	vertical-align: middle;
}

.step-title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 24px;
}

.price-large {
	font-size: 20px;
	font-weight: 500;
	margin-right: 8px;
}

.price-medium {
	font-size: 16px;
	font-weight: 600;
	color: var(--text-white);
}

.price-wrapper {
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: start;
}

.day {
	display: none;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 8px;
}

.list-title {
	font-size: 18px;
	font-weight: 500;
}

.include-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.include-list li {
	position: relative;
	padding-left: 24px;
}

.include-list li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 16px;
	height: 16px;
	transform: translateY(-50%);
	background-image: url('/assets/icons/check-circle-broken.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.short-info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-items: start;
	flex-wrap: wrap;
	gap: 8px;
	margin-right: 59px;
}

.short-info-item {
	width: 142px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	font-size: 14px;
}

.btn {
	width: 361px;
	height: 56px;
	padding: 18px 24px;
	margin: 0 auto;
	border-radius: 8px;
	background-color: var(--primary);
}

.btn-small,
.btn-small-second {
	width: 140px;
	height: 44px;
	border-radius: 8px;
	background-color: var(--primary);
}

.btn-small-second {
	color: var(--text-white);
	background-color: var(--primary-20);
}

/* Booking & Steps */

.booking-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
	color: var(--text-white);
}

.booking-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background-color: var(--white-05);
	border-top: 1px solid var(--white-20);
}

.stepper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
	font-size: 12px;
	color: var(--text-white-50);
	padding: 0 36px;
	margin-top: 24px;
}

.circle-group {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.step-circle {
	position: relative;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: var(--white-20);
	position: relative;
	transition: background-color 0.3s;
	z-index: 1;
}

.step-circle.active {
	background: var(--primary);
	border: 1px solid var(--text-white);
}

.step-circle.active::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--primary-20);
}

.step-circle.done {
	width: 20px;
	height: 20px;
	background: var(--primary);
}

.step-circle.done::after {
	content: '✔';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text-white);
	font-size: 16px;
}

.step-line {
	flex: 1;
	width: 49px;
	height: 1px;
	background: var(--white-20);
	position: relative;
	z-index: 0;
}

.circle-group .step-line.active-line {
	background: var(--primary);
}

.step-description {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 5px;
}

.car-small {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 16px;
	padding: 16px;
}

.car-small-info span {
	font-size: 14px;
}

.form-steps {
	width: 100%;
	display: block;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-step {
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	padding: 30px 16px;
}

.step-items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	flex-wrap: wrap;
}

.step-item {
	position: relative;
	width: 176px;
	height: 108px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	border-radius: 8px;
	background-color: var(--white-10);
	padding: 8px 26px 8px 16px;
	transition: background-color 0.2s, content 0.2s;
}

.step-item::before {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	width: 33px;
	height: 108px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	border-radius: 0 8px 8px 0;
	background-color: var(--white-20);
	transition: background-color 0.2s, content 0.2s;
}

.step-item.selected {
	background-color: var(--primary);
}

.step-item.selected::before {
	content: '-';
	background-color: var(--primary-light);
	color: var(--text-white);
}

.step-img {
	width: 18px;
	height: 18px;
}

.step-item-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 8px;
}

.step-label {
	font-size: 14px;
}

.step-insurance-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.insurance-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	padding: 16px;
	border-radius: 16px;
	background-color: var(--white-5);
}

.insurance-item.selected {
	background-color: var(--primary);
}

.insurance-item.selected::before {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background-image: url('/assets/images/card-bg.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.first {
	display: block;
	margin-bottom: 16px;
}

.insurance-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.insurance-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.insurance-list li {
	position: relative;
	padding-left: 24px;
}

.alert-mark::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url('/assets/icons/alert-circle.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.white-mark::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url('/assets/icons/check-circle-broken.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.green-mark::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url('/assets/icons/check-circle-broken-green.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.confirm-order {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.step-confirm-items {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-item {
	width: 100%;
}

.form-item span {
	color: var(--primary);
}

.phone-input {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.select {
	width: 90px;
	position: absolute;
	left: 10px;
	background: transparent;
	border: none;
	outline: none;
	padding: 12px 5px;
}

option {
	color: var(--text-white-50);
	background-color: var(--bg-color);
}

.tel-input {
	padding-left: 100px;
}

.accept {
	width: 100%;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.accept input[type='checkbox'] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 6px;
	background-color: inherit;
	transition: background-color 0.2s, border-color 0.2s;
}

.accept input[type='checkbox']:checked {
	background-color: var(--primary);
}

.accept input[type='checkbox']:checked::after {
	content: '✔';
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--text-white);
	transform: translate(-50%, -50%);
}

.accept-label {
	font-size: 16px;
}

.order-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	margin-top: 24px;
	border-radius: 16px;
	background-color: var(--white-5);
}

.order-info-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.info-item-label {
	font-size: 14px;
}

.info-item-descr {
	font-size: 14px;
	font-weight: 300;
}

.form-button {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.btn-alt-payment {
	background-color: var(--primary-20);
}

.hidden {
	display: none;
}

.mobile-hidden {
	display: none;
}

.step-active {
	display: block;
}

/* Contact us */

.contact-us {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 80px 16px;
	z-index: 1;
}

.contact-us::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url('/assets/images/contact-us-bg.jpg');
	background-size: 1400px auto;
	background-position: left 32% bottom 20%;
	background-repeat: no-repeat;
	filter: brightness(0.6);
	z-index: -1;
}

.contact-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px 32px 40px 32px;
}

.contact-img {
	width: 160px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}

.img-item {
	position: relative;
	width: 56px;
	margin-left: -10px;
}

.img-item::after {
	position: absolute;
	top: 43px;
	left: 43px;
	content: '';
	width: 10px;
	height: 10px;
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: var(--green-active);
}

.img-item:nth-child(1) {
	z-index: 3;
}

.img-item:nth-child(2) {
	z-index: 2;
}

.img-item:nth-child(3) {
	z-index: 1;
}

.contact-us-descr {
	width: 297px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	color: var(--text-white);
}

.contact-us-descr p {
	color: var(--text-white);
}

.descr-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-weight: 700;
	margin-bottom: 8px;
}

/* Footer */

footer {
	padding: 40px 16px;
}

.footer-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.logo-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 32px 0 56px 0;
}

label {
	font-size: 14px;
	color: var(--text-white);
	margin-bottom: 6px;
}

.footer-input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

input {
	width: 100%;
	padding: 12px 14px;
	border: 1px solid var(--white-20);
	background: inherit;
	border-radius: 8px;
}

.footer-bottom {
	width: 100%;
	height: 96px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 32px;
	border-top: 1px solid var(--white-20);
}

.footer-link ul {
	width: 176px;
	display: flex;
	gap: 16px;
	font-size: 14px;
}

.footer-link a {
	color: var(--text-white-50);
}

/* @media queries */

@media (min-width: 768px) {
	/* Header */
	header {
		height: 76px;
		padding: 16px;
	}

	.header-wrapper {
		display: flex;
		flex-direction: row-reverse;
	}

	.menu-icon {
		margin-left: 0;
	}

	.user-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--text-white-70);
		margin-right: 24px;
	}

	.phone-wrapper {
		display: flex;
	}

	.login-wrapper {
		display: none;
	}

	/* Car content */

	.big-car {
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
	}

	.car-title {
		font-size: 24px;
	}

	.price-large {
		font-size: 20px;
		font-weight: 700;
	}

	.day {
		display: flex;
	}

	.list-title {
		font-size: 20px;
	}

	.btn {
		width: 197px;
	}

	/* Booking */

	.stepper {
		padding: 0 90px;
	}

	.step-description {
		justify-content: space-between;
	}

	.step-item {
		width: 356px;
		height: 77px;
		flex-direction: row;
		justify-content: start;
		padding-left: 0;
	}

	.step-item::before {
		height: 100%;
	}

	.step-label {
		font-size: 16px;
	}

	.step-img {
		width: 25px;
		height: 25px;
		margin: 0 8px 40px 8px;
	}

	.step-item-content {
		width: 100%;
		height: auto;
		gap: 8px;
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		padding-left: 16px;
	}

	.step-insurance-items {
		flex-direction: row;
		justify-content: center;
		gap: 16px;
	}

	.insurance-item {
		width: 234px;
		height: auto;
		justify-content: start;
	}

	.step-confirm-items {
		flex-direction: row;
		gap: 32px;
	}

	.order-info {
		height: 193px;
	}

	.form-button {
		flex-direction: row;
		padding: 0 146px;
		gap: 0;
	}

	/* Contact Us */

	.contact-wrapper {
		align-items: start;
	}

	.contact-us-descr {
		width: 100%;
		align-items: start;
	}

	.subtitle {
		font-size: 20px;
		font-weight: 700;
	}

	.descr-wrapper {
		width: 400px;
		font-size: 16px;
		font-weight: normal;
	}

	.form-step {
		display: none;
	}

	.step-active {
		display: block;
	}

	/* Footer */

	.footer-top {
		flex-direction: row;
		align-items: center;
		justify-content: start;
	}

	.footer-bottom {
		flex-direction: row;
		justify-content: space-between;
		margin-top: 32px;
	}
}
/* change to 1920px */
@media (min-width: 1920px) {
	header {
		height: 72px;
		padding: 16px 40px;
	}

	.header-wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.menu-icon {
		display: none;
	}

	.top-menu {
		position: static;
		display: block;
	}

	.menu {
		display: flex;
		gap: 24px;
	}

	.menu li {
		margin: 0;
	}

	.user-wrapper {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		color: var(--text-white-70);
	}

	.user-wrapper .select {
		position: static;
		width: 70px;
		padding: 12px;
	}

	.lang-wrapper {
		width: 86px;
		display: block;
		padding: 10.5px 16px;
	}

	.phone-wrapper {
		width: 176px;
		display: flex;
		gap: 2px;
		padding: 8px 16px;
	}

	.login-wrapper {
		width: 112px;
		display: flex;
		gap: 4px;
	}

	main {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content-wrapper {
		width: 100%;
		display: flex;
		align-items: start;
		padding: 128px 228px 0 228px;
		gap: 24px;
	}

	.breadcrumbs {
		margin-bottom: 40px;
	}

	.breadcrumbs span {
		color: var(--white-90);
	}

	/* Car content */

	.car-content {
		width: 968px;
		border-bottom: 1px solid var(--white-20);
		border-radius: 16px 16px 0 0;
		background-color: var(--white-05);
	}

	.hidden {
		display: flex;
	}

	.btn-hidden {
		display: none;
	}

	.img {
		width: 460px;
		height: 249px;
	}

	.car-info {
		width: 400px;
	}

	.car-title {
		font-size: 32px;
		font-weight: -600;
	}

	.short-info {
		width: 302px;
	}

	.booking-form {
		width: 968px;
		background-color: var(--white-05);
		border-radius: 0 0 16px 16px;
	}

	.booking-top {
		display: none;
	}

	.form-step {
		display: block;
		padding: 0 24px 40px 24px;
	}

	.step-title {
		font-size: 24px;
		margin-top: 16px;
		color: var(--text-white);
	}

	.step-items {
		justify-content: start;
	}

	.step-item {
		width: 294px;
	}

	.step-insurance-items {
		justify-content: space-between;
	}

	.insurance-item {
		width: 294px;
		padding: 24px;
	}

	h2 {
		font-size: 32px;
		font-weight: 600;
	}

	.desktop-hidden {
		display: none;
	}

	.confirm-form {
		width: 472px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.order-info-desktop {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 12px;
		border-radius: 16px;
		color: var(--text-white);
		background-color: var(--white-5);
	}

	.form-button {
		padding: 0 12px;
		color: var(--text-white);
	}

	.contact-wrapper {
		padding: 80px 231px;
	}

	.contact-us::before {
		background-size: 2048px auto;
	}

	footer {
		padding: 60px 228px 48px 228px;
	}

	footer p {
		font-size: 16px;
	}

	.footer-top {
		justify-content: space-between;
	}

	.footer-form {
		width: 480px;
	}

	.footer-link li {
		font-size: 16px;
	}
}
